.node-explorer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  .context__description {
    text-align: center;
    white-space: initial;
    line-height: 20px;
  }
}

.node-explorer__content--empty {
  padding: 24px;
  color: $palette-neutral-900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.node-explorer-tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.node-explorer-tab__scrollable {
  flex: 1;
  min-height: 0;
  overflow: hidden auto;
}
